<!--/* Include the site client libraries (loading only the CSS in the header, JS will be loaded in the footer) */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='company-intranet.all'}"/>

<!--/* TODO: This should be part of clientlibs */-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!--/* Include Adobe Dynamic Tag Management libraries for the header */-->
<!--/*
<div data-sly-resource="${@path='config', resourceType='cq/personalization/components/clientcontext_optimized/config'}"></div>
<div data-sly-resource="${@path='contexthub', resourceType='granite/contexthub/components/contexthub'}"></div>
<sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp"/>
*/-->

<!--/* Initializes the Experience Manager authoring UI */-->
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"/>